extends layout

block content
  form(action="graph", method="post", class="pure-form", align="center")
    label(for="username") Enter your Username
      input(type="text", id="username", name="username")
    button(type="submit", class="pure-button pure-button-primary") Submit

